html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Comfortaa', cursive;
  color: black;
}

.headerTitle {
  margin: 10px;
  padding: 0px;
  font-size: 24px !important;
  color: #bfbfbf;
}

.header {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #bfbfbf;
}

.header p {
  margin: 5px;
  padding: 0px;
}

.headerIcon {
  margin: 0px;
  margin-left: 20px;
  font-size: 30px;
  color: #bfbfbf;
}

.subtitle {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  font-size: 18px;
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
  color: #737373;
}
.vtitle {
  line-height: 50px;
  white-space: nowrap;
  position: absolute;
  right: 100%;
  transform-origin: top right 0;
  transform: rotate( 270deg );
  font-size: 14px;
  margin-top: 20px;
  padding: 0px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #000000;
  color: #bfbfbf;
}

body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}





.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition:0.2s linear all; 
}
.swap-animation.ng-enter {

  color: grey; 
  letter-spacing: 2px;
}
.swap-animation.ng-enter-active {
  opacity: 0; 
}
.swap-animation.ng-leave {
  opacity: 0; 
}
.swap-animation.ng-leave-active {
  opacity: 0; 
}


.col-form-label {
  padding-left: 10px;
}

.navbar{
  padding: 0px;
}

.jumbotron {
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 0px;
}

img {
  padding: 15px;
}

h1 {
  margin-top: 25px;
  font-weight: bold;
  font-size: 24px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  background-color: #ffffff;
}

.card-header{
  /* height: 90px;
  margin-top: 20px;*/
  padding: 40px;
  background-color: #ffffff; 

}
.dashboardTitle {
  margin-top: 0px;
  padding: 10px;
  font-size: 25px;
}

.visCard {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}




.row {
  margin-left: 50px;
}

.chart-container {
  padding: 3px;
  /* padding-bottom: 50px; */
  background: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: #d7dbd8;
  border-radius: 5px;
  /* box-shadow: 0px 0px 1px 0px #06060d; */
  height: 200px;
  width: 100%;
}

.chart-container-large{
  height: 700px;
}
.chart-container-little{
  height: 150px;
}



.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}



.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdge;
}

.axis text {
  font-family: 'Comfortaa', cursive;
  font-size: 9px;
  text-anchor: middle;
}


.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}







/** angular-ui   **/
.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
background: #fff;
position: relative;
z-index: 1;
}
.alert-info.positioned {
margin-top: 1em;
position: relative;
z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}



/**  chart components */
#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.brush-handle {
  fill: #eee;
  stroke: #666;
}





/* http://paletton.com/#uid=33S0u0kqdo0gQvulErltfjF-Tex   */
.bar {
  fill:rgba(60, 76, 149, 0.9);
  stroke: #08154F;
}
.barSelected {
  cursor: pointer;
  fill: rgba(218, 146, 70 ,1);
  stroke: #9D570D;
}
.barHover {
  cursor: pointer;
  fill: #fff;
  stroke: #000000;
}
text.value {
  font-size: 12px; 
  text-anchor: left;
  stroke: #ffffff; 
  stroke-width: 0.8px;
  text-transform: lowercase;
}
text.valueBack {
  font-size: 12px; 
  text-anchor: left;
  stroke: #000000; 
  stroke-width: 2px;
  text-transform: lowercase;
}
text.valueOver {
  font-size: 12px; 
  text-anchor: left;
  stroke: #000000; 
  stroke-width: 0.8px;
  text-transform: lowercase;
}

.categoryBack {
  cursor: pointer;
  fill:rgba(255, 255, 255, 0.5);
  stroke: #ffffff;
}
.category {
  cursor: pointer;
  fill:rgba(60, 76, 149, 0.9);
  stroke: #08154F;
  stroke-width: 1
}
.categorySelected {
  cursor: pointer;
  fill: rgba(218, 146, 70 ,1);
  stroke: #9D570D;
  stroke-width: 1
}
.categoryHover {
  cursor: pointer;
  /* fill: #fff; */
  stroke: #000000;
}
text.categoryLabel {
  font-size: 11px; 
  text-anchor: left;
  stroke: rgba(0, 0, 0 ,0.6);
  
 
}




.lineSeries {
  fill: none;
  stroke: #FBBB77;
  stroke-width: 3;
}
.toolTip {
  color: black;
  font-size: 8pt;
  /* text-shadow: 1px 1px white; */
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 rgba(255, 255, 255 ,0.85);
  border: 1px solid #08154F;
  padding: 5px;
  text-align: center;
}

.chartTitle{
  font-size: 10pt;
  font-weight: bold;
}
.chartUnit{
  font-size: 8pt;
}









