<div class="jumbotron text-center">
	
	<h2 class="h1Title">Cost Analysis per Person </h2>


	<div class="row">
		<div class="col-xs-6">

			<form class="form-horizontal">

				<div class="form-group row">
					<label for="yearSel" class="col-xs-3 col-form-label mr-2">Year</label>
					<div class="col-xs-9">
						<ui-select id="yearSel" ng-model="years.selected" theme="selectize" on-select="onSelectYear($item, $model)"
						 ng-disabled="ctrl.disabled" style="width: 280px;" title="Choose a year">
							<ui-select-match placeholder="Select or search a year in the list...">{{$select.selected.label}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">
								<span ng-bind-html="year.label | highlight: $select.search"></span>
								<small>
									Cost per User: ${{year.costo_proc_usuario | megaNumber:1}} COP,
									Total Costs: ${{year.costo_procedimiento | megaNumber:1}} COP,
									People: {{year.numero_personas_atendidas | megaNumber:1}}
								</small>
							</ui-select-choices>
						</ui-select>
					</div>


					<label for="stateSel" class="col-xs-3 col-form-label mr-2">State</label>
					<div class="col-xs-9">
						<ui-select id="stateSel" ng-model="states.selected" theme="selectize" on-select="onSelectState($item, $model)"
						 ng-disabled="ctrl.disabled" style="width: 350px;" title="Choose a state">
							<ui-select-match placeholder="Select or search a state in the list...">{{$select.selected.label}}</ui-select-match>
							<ui-select-choices repeat="state in states | filter: $select.search">
								<span ng-bind-html="state.label | highlight: $select.search"></span>
								<small>
									Cost per User: ${{state.costo_proc_usuario | megaNumber:1}} COP,
									Total Costs: ${{state.costo_procedimiento | megaNumber:1}} COP,
									People: {{state.numero_personas_atendidas | megaNumber:1}}
								</small>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="col-xs-3 lead visCard">Cost per Person
						<br>
						<div ng-animate-swap="totalCostPerPerson" class="cell swap-animation">
							${{totalCostPerPerson | megaNumber:1}} COP
						</div>
					</div>

					<div class="col-xs-3 lead visCard">People Served
						<br>
						<div ng-animate-swap="totalPopulation" class="cell swap-animation">
							{{totalPopulation}}
						</div>
					</div>

					<div class="col-xs-3 lead visCard">Total Costs
						<br>
						<div ng-animate-swap="totalCosts" class="cell swap-animation">
							${{totalCosts | megaNumber:1}} COP
						</div>
					</div>

				</div>

			</form>


		</div>
	</div>


	<div class="row">
		<div id="year-barchart" class="chart-container col-6" 
		bar-chart crossfilter="cf" group="groupYear" title="Years"
		 tooltip="tooltip">
		</div>
		<div id="states-barchart" class="chart-container col-6" 
		bar-chart crossfilter="cf" group="groupStates" domain="states" title="States"
		 tooltip="tooltip">
		</div>
	</div>

	<div class="row">
		
	</div>

</div>