<div class="jumbotron text-center">

	<div class="row">
		<div class="col-xs-6">

			<form class="form-horizontal card-header">

				<div class="form-group row">
					<!--
					<label for="yearSel" class="col-xs-3 col-form-label mr-2">Year</label>
					<div class="col-xs-9">
						<ui-select id="yearSel" ng-model="years.selected" theme="selectize" on-select="onSelectYear($item, $model)"
						 ng-disabled="ctrl.disabled" style="width: 280px;" title="Choose a year">
							<ui-select-match placeholder="Select or search a year in the list...">{{$select.selected.label}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">
								<span ng-bind-html="year.label | highlight: $select.search"></span>
								<small>
									Cost per User: ${{year.costo_proc_usuario | megaNumber:1}} COP,
									Total Costs: ${{year.costo_procedimiento | megaNumber:1}} COP,
									People: {{year.numero_personas_atendidas | megaNumber:1}}
								</small>
							</ui-select-choices>
						</ui-select>
					</div>
				-->

					<p class="dashboardTitle">Cost Analysis per Person</p>
					<label for="stateSel" class="col-xs-3 col-form-label mr-2">State</label>
					<div class="col-xs-9">
						<ui-select id="stateSel" ng-model="states.selected" theme="selectize" on-select="onSelectState($item, $model)"
						 ng-disabled="ctrl.disabled" style="width: 350px;" title="Choose a state">
							<ui-select-match placeholder="Select or search a state in the list...">{{$select.selected.label}}</ui-select-match>
							<ui-select-choices repeat="state in states | filter: $select.search">
								<span ng-bind-html="state.label | highlight: $select.search"></span>
								<small>
									Cost per Person: ${{state.costo_proc_usuario | megaNumber:1}} COP,
									People: {{state.numero_personas_atendidas | megaNumber:1}} , 
									Total Costs: ${{state.costo_procedimiento | megaNumber:1}} COP
								</small>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="col-xs-3 lead visCard">Costs per Person (C/P)
						<br>
						<div ng-animate-swap="totalCostPerPerson" class="cell swap-animation">
							${{totalCostPerPerson | megaNumber:1}} COP
						</div>
					</div>

					<div class="col-xs-3 lead visCard">People Served
						<br>
						<div ng-animate-swap="totalPopulation" class="cell swap-animation">
							{{totalPopulation}}
						</div>
					</div>

					<div class="col-xs-3 lead visCard">Total Costs
						<br>
						<div ng-animate-swap="totalCosts" class="cell swap-animation">
							${{totalCosts | megaNumber:1}} COP
						</div>
					</div>

				</div>

			</form>


		</div>
	</div>


	<div class="row">
		<div id="states-barchart" class="chart-container col-6" 
		bar-chart crossfilter="cf" dimension="dimStates" group="groupStates" 
		domain="states"
		showall="true" resolveaxislabel="true"
		charttitle="States (Top 10)"></div>

		<div id="year-barchart" class="chart-container col-6" 
		bar-chart crossfilter="cf" dimension="dimYear" group="groupYear" 
		showall="true" showtrend="false"
		charttitle="Years">
		</div>
	</div>


		
	
		<div class="row">
			<div class="vtitle">Administrators</div>

			<div id="regime-barchart" class="chart-container col-3" 
			bar-chart crossfilter="cf" dimension="dimRegime" group="groupRegime" 
			domain="regime"
			showall="false" resolveaxislabel="true"
			charttitle="Regime">
			</div>

			<div id="sisben-barchart" class="chart-container col-3" 
			bar-chart crossfilter="cf" dimension="dimSisben" group="groupSisben" 
			domain="sisben"
			showall="false" resolveaxislabel="true"
			charttitle="Sisben">
			</div>
			
			
			<div id="admin-barchart" class="chart-container col-3" 
			bar-chart crossfilter="cf" dimension="dimAdministrators" group="groupAdministrators" 
			domain="administrators"
			showall="false"
			charttitle="Administrators (Top 10)">
			</div>

			<div id="providers-barchart" class="chart-container col-3" 
			bar-chart crossfilter="cf" dimension="dimProviders"  group="groupProviders" 
			domain="providers"
			showall="false"
			charttitle="Providers (Top 10)" >
			</div>
		</div>


	

	<div class="row">
		<div class="vtitle">Procedures</div>

		<div id="procedure-barchart" class="chart-container col-3" 
		bar-chart crossfilter="cf" dimension="dimProcedure"  group="groupProcedure" 
		domain="procedures"
		showall="false"
		charttitle="Procedures">
		</div>

		<div id="sex-barchart" class="chart-container col-3" 
		bar-chart crossfilter="cf" dimension="dimSex"  group="groupSex" 
		domain="sex"
		showall="true" resolveaxislabel="true"
		charttitle="Sex">
		</div>

		<div id="age-barchart" class="chart-container col-3" 
		bar-chart crossfilter="cf" dimension="dimAge"  group="groupAge" 
		domain="age"
		showall="true" resolveaxislabel="true"
		charttitle="Age Group">
		</div>

		
		

	</div>

	<!--
	<div class="row">
		<div class="col-6">
			bla
		</div>
		<div class="col-6">
			bla
		</div>

	</div>
	-->

</div>